body{
	background-color:#ffffff;
	/*background:url("img/bgimage.jpeg");*/
	background-color: #85adad;
	background-position:center;
	background-repeat: no-repeat;
	background-size: auto;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #3333cc;
	width:100%;
}

li{
    float: left;
	border-right: 1px solid #bbb;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ff6600;
}
.active {
    background-color: #4CAF50;
}
#adjust{
	text-align:center;
	font-size:100px;
	color:#fff;
	margin-top: 30px;

	margin-bottom: 5px;

}
#insideDiv{
	text-align:center;
	font-size:20%;
	border: 1px solid #bbb;
	margin-top: 10px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-left:40px;
	font-family: sans-serif;
	font-style: oblique;
	font-weight: normal;
	color:#000;

}
#menu{
	text-align:center;
	font-size:20px;
	/*border: 1px solid #bbb;*/
	font-family: fantasy;
	font-style: normal;
	font-weight: bolder;
	color:#ffff00;

}
hr{
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left:30px;
	border: none; /* Убираем границу для браузера Firefox */
  color: red; /* Цвет линии для остальных браузеров */
  background-color: red; /* Цвет линии для браузера Firefox и Opera */
  height: 2px; /* Толщина линии */
}
#trending{
	text-align:center;
	font-size:10px;
	/*border: 1px solid #bbb;*/
	font-family: monospace;
	font-style: normal;
	font-weight: bolder;
	color:#000;
}
footer{
	display: block;
	text-align:center;
}
